Source: iio-uinput
Section: base
Priority: optional
Maintainer: Uvos <carl@uvos.xyz>
Build-Depends:
 debhelper,
 cmake,
Standards-Version: 1.0.1

Package: iio-uinput
Architecture: any
Multi-arch: same
Depends:
Description: A deamon that stops programms via SIGSTOP when their X11 windows lose focus.

